.noborder {
  border-top: none !important;
  border-bottom: 1px solid #dee2e6;
}

.footform form div input {
  display: block;
  width: 90% !important;
}

.footform {
  border-top: 1px solid #fff
}
